body {
    border: none;
   background-color: gray;
}
.buttonhome{
    padding: 15px;
height: 22px;
border-radius: 6px;
border: 1px solid var(--color-gray2);
outline: none;
width: 90%;
font-size: 17px;
color:var(--color-dark);
}